.chat_ui {
    width: 100%;
    height: 80%;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(22, 22, 22, 0.9);
    backdrop-filter: blur(19px) saturate(120%);
    box-shadow: 4.6px 0px 15px hsl(0deg 0% 0% / 0.36);
    display: flex;
    flex-direction: column;
    
    .chat_navbar{
        flex: 1;
        width: 225px; 
        height: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        border-right: rgba(255, 255, 255, 0.251) solid 1px;    
        
        .chat_search {
            width: 100%; 
            height: 45px;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;

            border-bottom: rgba(255, 255, 255, 0.251) solid 1px;        
            
            div {
                padding-left: 7px;
                padding-right: 7px;

                display: flex;

                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }

                img {
                    filter: invert(1);
                    width: 18px;
                    height: 18px;
                }

                input {
                    margin-left: 5px;
                    margin-right: 5px;
                    width: 100%;
                    border: none;
                    outline: none;
                    background-color: rgba(0, 0, 0, 0.6);
                    color: white;
                    border-radius: 5px;        
                }
            }
        }

        .chat_users {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow: auto;
            
            .chat_userDisplay {
                padding: 10px;
                width: 100%;
                height: 60px;
                display: flex;
                gap: 5px;
                
                img {
                    filter: invert(1);
                    width: 40px;
                    height: 40px;
                }

                .chat_userSep {
                    height: 100%;
                    width: 1px;
                    border-radius: 5px;
                    background-color: white;
                    opacity: 75%;
                    margin-right: 5px;
                    margin-left: 5px;
                }

                .chat_userInf {
                    display: flex;
                    flex-direction: column;
                    align-items: space-between;
                    justify-content: center;
                    gap: 5px;

                    font-size: 13px;
                }
            }
        }
    }

    .chat_bar {
        margin-left: 225px;
        flex: 1;
        display: flex;
        flex-direction: column;

        .chat_chatArena {
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
            height: 525px;
            
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            gap: 20px;
            
            .chat_TextBox {
                padding: 10px;

                width: fit-content;
                max-width: 70%;
                
                display: flex;
                align-items: stretch;
                background-color: rgba(7, 172, 133, 0.592);
                border-radius: 5px;
                gap: 20px;

                &.Self {
                    background-color: rgba(0, 203, 200, 0.592);
                    align-self: flex-end;
                }

                img {
                    width: 35px;
                    height: 35px;
                }

                .chat_text {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    span {
                        font-size: 10px;
                    }
                }
            }

        }

        .chat_chatBar {
            flex: 1;
            height: 15%;
            width: 100%;
            background-color: transparent;
            margin-top: auto;
            display: flex;
            gap: 15px;
            padding: 15px;
            border-top: rgba(255, 255, 255, 0.251) solid 1px;    

            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            input {
                width: 100%;
                border: none;
                outline: none;
                background-color: rgba(0, 0, 0, 0.3);
                color: white;
                border-radius: 5px;
            }

            img {
                filter: invert(1);
                width: 30px;
                height: 30px;
            }

        }
    }
}