.HomeMain_root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .mainSection {
        width: 100%;

        h1 {
            font-weight: bold;
            font-size: 300%;
            letter-spacing: 0.2vw;
        }

        input {
            border: none;
            outline: none;
            color: white;
            flex: 1;
            
        }
    }

    .searchBar {
        width: 100%;
        height: 30px;
        display: flex;
        background-color: transparent;
        
        .separator {
            flex: 2;
            background-color: transparent;
            margin-top: 0;
            margin-bottom: 0;
            border: none;
        }
        
        div {
            border: rgba(245, 245, 245, 0.8) solid 2px;
            flex: 2;
            height: 100%;
            display: flex;
            background-color: rgba(22, 22, 22, 0.5);
            border-radius: 35px;
            gap: 5px;
            align-items: center;

            input {
                background-color: transparent;
                border: none;
                outline: none;
                
                color: white;
                flex: 3;
            }

        }

        .collapsible {
            border: rgba(245, 245, 245, 0.8) solid 2px;
            width: auto;
            background-color: transparent;
            display: flex;
            background-color: rgba(22, 22, 22, 0.5);
            border-radius: 35px;
            align-items: center;
            align-content: space-between;
            cursor: pointer;
            padding: 5px;
            gap: 5px;

            color: rgba(255, 255, 255, 1);

            img {
                margin-left: 0;
                width: 25px;
                height: 25px;
            }
            
            div {
                width: 0px;
                padding: 30px;
            }
        }

        .collapsible:hover {
            background-color: #7474748f;
        }                  

        .content {
            margin-top: 50px;
            overflow: hidden;
            background-color: #f1f1f1;                  
        }

        img {
            margin-left: 5px;
            width: 20px;
            height: 20px;
            object-fit: cover;
            filter: invert(1);
        }
    }
}