.app {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

.question-section {
  margin-bottom: 20px;
}

.question-count {
  font-size: 18px;
  margin-bottom: 10px;
}

.question-text {
  font-size: 24px;
  margin-bottom: 20px;
}

.answer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-section button {
  width: 200px;
  padding: 10px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: border-color 0.3s, transform 0.3s;
}

.answer-section button:hover {
  transform: scale(1.05);
}

.answer-section button.correct {
  background: #90EE90;
  border-color: green;
}

.answer-section button.incorrect {
  background: #FF7F7F;
  border-color: red;
}

.score-section {
  font-size: 24px;
  margin-top: 20px;
}

.next-button {
  background: linear-gradient(to right, #92c1ff, #7eb6ff);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s;
}

.next-button:hover {
  transform: translateY(-2px);
}

.try-again-button {
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 0 0 0;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, transform 0.3s;
}

.try-again-button:hover {
  background: linear-gradient(to right, #ff5a7c, #ff6a9b);
  transform: translateY(-2px);
}

.question-progress {
  font-size: 18px;
  margin-top: 10px;
}

.button {
  background-color: #4CAF50;
  color: red;
  border: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(1.05);
}

.start-quiz-button {
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 35px;
  transition: transform 0.3s;
}

.start-quiz-button:hover {
  transform: translateY(-2px);
}

.add-question-form {
  background-color: rgba(240, 240, 240, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
}

.add-question-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.add-question-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #555;
}

.add-question-form input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.answer-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.answer-option input[type="text"] {
  flex: 1;
  margin-right: 10px;
}

.answer-option input[type="radio"] {
  margin-left: 10px;
  transform: translateY(-5px);
}

.answer-option label {
  margin-left: 5px;
}

.add-question-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s;
}

.add-question-button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.create-quiz-form {
  background-color: rgba(240, 240, 240, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
}

.create-quiz-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #555;
}

.create-quiz-form input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.create-quiz-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s;
}

.create-quiz-button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.quiz-list {
  margin: 20px auto;
  max-width: 500px;
}

.quiz-list h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.quiz-list-item {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s;
}

.quiz-list-item:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.back-button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s;
}

.back-button:hover {
  background-color: #e5533d;
  transform: translateY(-2px);
}

.quiz-list {
  margin: 20px auto;
  max-width: 500px;
}

.quiz-list h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.quiz-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  cursor: pointer; /* Make the entire item look clickable */
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s;
}

.quiz-list-item:hover {
  background-color: #e9e9e9;
}

.quiz-name {
  flex-grow: 1;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.delete-quiz-button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s;
}

.delete-quiz-button:hover {
  background-color: #e5533d;
  transform: translateY(-2px);
}

.question-list {
  margin: 20px auto;
  max-width: 500px;
}

.question-list h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.question-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s;
}

.question-list-item:hover {
  background-color: #e9e9e9;
}

.question-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.question-text {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-bottom: 2px;
}

.delete-question-button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s;
}

.delete-question-button:hover {
  background-color: #e5533d;
  transform: translateY(-2px);
}